<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, class: "form-control input-lg", placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.text_area :content, rows: "20", class: "form-control input-lg", placeholder: "Content" %>
  </div>
  <div class="field">
    <%= f.file_field :image, class: "form-control input-lg", placeholder: "Website" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-xlarge btn-tales-one" %>
  </div>
<% end %>