<div class="widewrapper main">
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <div class="row">
          <% @posts.each do |post| %> 
          <div class="col-md-6 col-sm-6">
              
              <article class="blog-teaser">
                <header>
                  <%= link_to image_tag(post.image.url(:thumb)), post %><!-- <img src="img/cat.png" alt="A Cat"> -->
                  <h3><%= post.title %></h3><!-- <h3><a href="blog-detail.html">Cats Everywhere</a></h3> -->
                     <!-- erb post.created_at.to_s %>  -->
                     <!-- <span class="meta">24 July 2013, Alexander Rechsteiner</span> -->
                  <span class="glyphicon glyphicon-calendar" > </span>
                  <span> <%= post.created_at.to_s.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= 12);ob << (" " + x)}.strip %> </span>   
                  
                  <% user = post.user %>
                  <% if user != nil %>
                    <% if  user.name != nil%>
                      <span>, </span>
                      <span class="glyphicon glyphicon-pencil" > </span>
                      <span> <%= user.name %> </span>
                    <% end %>
                  <% end %>  
                  
                  <hr>
                </header>
                <div class="body">
                  
                  <%= post.content.split(" ").each_with_object("") {|x,ob| break ob unless (ob.length + " ".length + x.length <= 200);ob << (" " + x)}.strip %>
                  <span> ...</span>
                </div>
                <div class="clearfix">
                  <%= link_to 'Read more', post, class: "btn btn-tales-one" %>
                  <!-- <a href="blog-detail.html" class="btn btn-tales-one">Read more</a> -->

                  <% if post.user == current_user && current_user %>
                    <%= link_to 'Edit', edit_post_path(post) %>
                    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <%= link_to 'New', new_post_path %>
                   
                  <% end %>  
                  
                </div>
              </article>
          </div>

          <% end %>

        </div>
      </div>

       <aside class="col-md-4 blog-aside">
          
        <div class="aside-widget">
          <header>
            <h3>Recent Blogs</h3>
          </header>
          <div class="body">
            <div class="col-md-4 footer-widget">
                <ul class="tales-list">  
                    <% Post.find_each(batch_size: 2) do |post| %>
                        <li>
                            <%= link_to post.title, "#" %>
                        </li>
                    <% end %>
                </ul>
            </div>
          </div>
        </div>
      </aside>

    </div>
  </div>
</div>