<header>
    <div class="widewrapper masthead">
      <div class="container">

        <nav class="navbar tales-nav" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             
            <%= link_to(root_path, id: "logo", class: "nav-brand") do %>
             <%= image_tag 'millenial-dad.png' , alt: "logo", size:"180x180" %>
            <% end %>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right nav-pills">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_me_path%></li> 
              <li><%= link_to 'Credits', credits_path %></li> 
              <% if user_signed_in? %>
                <li><%= link_to "Account Settings", edit_user_registration_path %></li>
                <li><%= link_to 'Messages', messages_path %></li>
                <li><%= link_to 'New post', new_post_path %></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>


              <% else %>
                <li><%= link_to "Contact",  "about_me#contact" %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>   
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav> 

      </div>

      <div class="widewrapper subheader">
            <div class="container">
<!-- 
                <div class="breadcrumbs tales-breadcrumb">
                  <span class="pretext">You are here:</span>
                  <a href="/">Home</a> &rsaquo;
                  <a href="/issues">All issues</a> &rsaquo;
                  <span class="current">My Issue</span>
                </div> -->

                <div class="tales-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">
                        <button class="searchbutton" type="submit">
                            <span class= "glyphicon glyphicon-search"></span>
                        </button>
                        <input class="searchfield" id="searchbox" type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>

    </div>
  
</header>
