<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- translate to ruby land -->
  <!-- ============================================================================================================== -->
  <meta charset="utf-8">
  <title>Blog tales</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <!-- Google Webfonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CPT+Serif:400,400italic' rel='stylesheet' type='text/css'>
  
  <!-- Styles -->
  <link rel="stylesheet" href="css/styles-bluegreen.css" id="theme-styles">

  <!--[if lt IE 9]>      
      <script src="modules/respond/html5-3.6-respond-1.1.0.min.js"></script>
  <![endif]-->

  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
  <!-- translate to ruby land -->
  <!-- ============================================================================================================== -->
</head>
<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
	<%= render 'layouts/header' %>
	<div class="container">
	  <% flash.each do |name, msg| %>
	  	<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
	  <% end %>
	  <%= yield %>
	</div>

  <%= render 'layouts/footer' %>
</body>
</html>
